@font-face{
    font-family: BLOODSUC;
    src: url(../fuentes/BLOODSUC.TTF)
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container-body {
    width: 100%;
    height: 100%;
}
header { 
    width: 100%; 
    height: 10vh;    
    background-color: rgb(27, 27, 29);    
    border-bottom: 1px solid rgb(70, 0, 0);    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
   
}
header .logo img {
    padding: 0px 20px;
	width:125px;
	vertical-align: top;
}
.text-logo{
    color:white;
    text-transform: capitalize;
    display: inline;
    line-height:50px;
           
}
.nav-items {
    padding: 20px;
}
.nav-item {           
    padding: 2.5px 20px;
    color: rgb(83, 78, 78);
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: black; 
    text-decoration: none;
    cursor: pointer;
}
.nav-item:hover {
    color:rgb(88, 0, 0);
    font-size:1.9em; 
    border: 1px solid rgb(87, 1, 1); 

    /* font-family: 'BLOODSUC';   */
}


.main {
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 90vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-body {    
    font-family: 'BLOODSUC';
    font-size: 200px;
    color: rgb(73, 6, 6);      
    animation: aparecetexto 3s; 
    position: relative;
    
          
}

.img1 {
    background-repeat:no-repeat;
    background-size: cover;
    animation: apareceimagen 9s; 
    position: fixed;    
    justify-content: center; 
    height: 90vh;  
    width: 100%;  
}

@keyframes aparecetexto {
    0% {font-size: 0px;}
    30%{font-size: 0px;}
}

@keyframes apareceimagen {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
} 