
.container {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;     
}

.container-registro {

    position: absolute;    
    background: #333333;   
    border-radius: 6px;
    box-shadow: inset 0 0 90px #000; 
    min-width: 500px;
    min-height: 630px;   
}
.btn-close-popup{
    position: absolute;
    font-weight: 600;
    right: 5px;
    top: 5px;
    padding: 5px;
    background: #999696;
    color: rgb(34, 4, 4);
    border-radius: 50%;
    line-height: 10px;
    text-decoration: none;
} 

.container h1{    
    padding: 20px;
    font-size: 45px;   
    text-align: center;
    color: #999696;
    margin: 10px;    
    text-transform: capitalize;
}  
 
.form_registro {
    display: grid;
    grid-template-columns: 1fr;

}

label{
    padding:10px;
    font-size: 25px;
    font-weight: 600;
    color: #999696; 
}

 .form_registro input{
    text-align: center;
    font-size: 20px;
    color: #999696; 
    padding: 10px ;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: #333333;
    border-bottom: 2px solid  #6d5e5e;
}

button.button-registro{
    display: block;  
    padding: 2.5px 20px;
    color: rgb(83, 78, 78);
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: rgb(3, 3, 3);    
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-decoration: none;
       
}

button.button-registro:hover{
    color: rgb(58, 3, 2); 
    font-size: 1.8em;   

}

.container-login {

    position: absolute;    
    background: #333333;   
    border-radius: 6px;
    box-shadow: inset 0 0 90px #000; 
    min-width: 500px;
    min-height:450px;
   
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;

}

.login-form input{
    text-align: center;
    font-size: 20px;
    color: #999696; 
    padding: 10px ;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: #333333;
    border-bottom: 2px solid  #6d5e5e;
}

button.button-login{
    display: block;  
    padding: 2.5px 20px;
    color: rgb(83, 78, 78);
    font-size: 1.5em;
    
    letter-spacing: 3px;
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: rgb(3, 3, 3);    
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-decoration: none;
       
}

button.button-login:hover{
    color: rgb(58, 3, 2); 
    font-size: 1.8em;   

}
